@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background-color: #E4EDF2;
  min-height: 746px;
}

.hero-wrapper main {
  padding-top: 191px;
  text-align: center;
}

.hero-wrapper main h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}

.hero-wrapper main h1 {
  font-size: 3rem;
  color: #24116A;
  margin-top: 8px;
}

.hero-wrapper main p {
  max-width: 828px;
  margin: 17px auto 0;
  font-size: 1.5rem;
  line-height: 33px;
}

.image-section {
  max-width: 1197px;
  width: 100%;
  margin: -257px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.image-section .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interns-wrapper {
  padding-top: 97px;
}

.interns-wrapper h2 {
  text-align: center;
  font-weight: 500;
  font-size: 2.25rem;
}

.interns-wrapper main {
  max-width: 1162px;
  width: 100%;
  margin: auto;
  background-color: #F1F7FB;
  border-radius: 10px;
  padding: 75px 66px 54px;
}

.interns-wrapper main .logos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
}

.interns-wrapper main .logos-wrapper .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interns-wrapper main .logos-wrapper .logo-text {
  max-width: 199px;
  width: 100%;
  padding: 18px;
  border-left: 2px solid #BDBDBD;
  margin-left: 52px;
}

.interns-wrapper main .logos-wrapper .logo-text p {
  font-size: 1.5rem;
  line-height: 28px;
}

.interns-wrapper main .reviews-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 53px;
  margin-top: 84px;
}

.interns-wrapper main .reviews-wrapper .review {
  padding: 14px 45px 25px 17px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 50px rgba(22, 82, 240, 0.05);
          box-shadow: 0px 0px 50px rgba(22, 82, 240, 0.05);
}

.interns-wrapper main .reviews-wrapper .review .review-text {
  padding-left: 34px;
}

.interns-wrapper main .reviews-wrapper .review .review-text p {
  font-size: 1.5rem;
  line-height: 33px;
}

.interns-wrapper main .reviews-wrapper .review .review-text div {
  margin-top: 15px;
}

.support-wrapper {
  padding: 103px 0 150px;
}

.support-wrapper main {
  max-width: 817px;
  width: 100%;
  margin: auto;
}

.support-wrapper main h2 {
  text-align: center;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 43px;
}

.support-wrapper main form {
  margin-top: 34px;
  width: 100%;
}

.support-wrapper main form .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support-wrapper main form .input-wrapper input {
  max-width: 605px;
  width: 100%;
}

.support-wrapper main form .input-wrapper button {
  max-width: 199px;
  width: 100%;
  text-align: center;
  padding: 22px;
  font-size: 1.5rem;
  line-height: 32px;
  outline: none;
  border: none;
  background-color: #00AEFF;
  border-radius: 3px;
  color: white;
}

@media screen and (max-width: 1160px) {
  .logos-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-text {
    margin-left: 0 !important;
    padding-left: 0 !important;
    border: none !important;
    max-width: 100% !important;
  }
}

@media screen and (max-width: 1220px) {
  section,
  .support-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  .image-section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .image-wrapper:last-child {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .logos {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 20px !important;
  }
  .logos .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 851px) {
  .reviews-wrapper {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
    grid-row-gap: 53px;
  }
}

@media screen and (max-width: 788px) {
  .image-wrapper:nth-child(2) {
    display: none;
  }
  .image-section {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media screen and (max-width: 610px) {
  section,
  .support-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .interns-wrapper main {
    padding: 30px !important;
  }
}

@media screen and (max-width: 500px) {
  .logos {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
}
/*# sourceMappingURL=main.css.map */